/*Edit the body part*/
body {
  font-family: cursive;
  margin: 0px;
  padding: 0px;
}

.header {
  position: relative;
  text-align: center;
  color: black;
}

/*Feature Image*/
.Featureimage {
  width: 100%;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 5%;
  left: 5%;
}

/* Top right text */
.menu {
  margin-top: 35px;
  position: absolute;
  top: 5%;
  right: 5%;
}

/*Edit the AWESOME SHOP logo*/
.logo {
  font-weight: bold;
  font-size: 30px;
}

.shop {
  color: green;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Edit the title*/
.title {
  font-weight: bold;
  font-size: 38px;
}

/*Edit the title*/
.des {
  font-size: 20px;
}

/*Edit the width of the searchBar*/
.searchBar {
  width: 700px;
  height: 20px;
}

/*Edit the margin of the search tool*/
.search {
  margin-top: 40px;
}
.search-buttom:hover{
  background-color: green;
  color: white;
}

/*Promotion Part*/
/*Main Promotion container edition*/
.coupon-icon {
  display: inline;
}

.coupon-container {
  margin: 30px;
  display: inline;
  padding: 10px;
  position: absolute;
  left: 3%;
  max-width: 500px;
  border: 3px solid black;
  background-color: #ea9999;
  width: 25%;
  height: 25%;
}

.delivery-container {
  margin: 30px;
  padding: 10px;
  position: absolute;
  left: 35.5%;
  max-width: 500px;
  border: 3px solid black;
  background-color: #f6b26b;
  width: 25%;
  height: 25%;
}

.gift-container {
  margin: 30px;
  width: 30%;
  padding: 10px;
  position: absolute;
  left: 68%;
  max-width: 500px;
  border: 3px solid black;
  background-color: #c27ba0;
  width: 25%;
  height: 25%;
}

.icon {
  width: auto;
  display: inline;
  position: absolute;
  left: 70%;
  top: 30%;
}

.promotion-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 10%;
}

.promotion-bottom {
  position: absolute;
  top: 60%;
}
/*Product part */
.product-container{
  position: absolute;
  top: 1400px;
  width:100%;
}
.categories-container{
  vertical-align: top;
  width: 20%;
}
.category-item{
  list-style: none;
  font-size: 30px;
}
.category-item:hover{
  background-color: gray;
  color: white;
}

/*Item part which consists of 2 rows and 1 row has 3 column of items*/
.item-section{
    background-color: #e8e8e8;
}
.item-container{
  border-spacing: 70px;
  width: 100%;
}
.item{
  background-color: white;
  padding: 1%;
  width: 10%;
  border: 1px solid black;
}
.discount{
  display: inline;
  border-radius: 10px;
  background: orange;
  padding: 10px;
  position: relative;
  left: 88%;
}
.original-price{
  color: red;
  text-decoration: line-through;
}
.sale-price{
  display: inline;
  color:green;
  font-size: 20px;
}
.cart-buttom{
  position: absolute;
  left: 80%;
}
.item-image{
  display: inline;
  width: 100%;
}
.cart{
  position: relative;
  left: 70%;
  width: 20%;
}
.searchmore{
  width: 100%;
  text-align: center;
}
.search-more{
  border-spacing: 60px;
  width: 10%;
  background-color: green;
  color: #010101;
  border-radius: 1px solid white;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

/*Product Page*/
.Product_detail_section{
  width: 100%;
  background-color: white;

}
.discount_detail{
  width: 30px;
    border-radius: 10px;
    background: orange;
    padding: 10px;
    position: relative;
    top: 10px;
    left: 80%;
}
.product_feature{
  padding: 1%;
  width: 25%;
  border-right: 3px solid #e8e8e8;
}
.view-image{
  border:3px solid #e8e8e8;
  width: 80%;
}
.product_detail{
  padding: 1%;
}
.product_title{
  display: inline;
  text-align: left;
  font-size: 30px;
  margin-bottom: 4%;
}
.sale_title{
  position: relative;
  left: 60%;
  display: inline;
}
.des_detail{
  margin-bottom: 30%;
}
.shopping_cart{
  display: block;
  margin-bottom: 4%;
}
.shopping_cart:hover{
  background-color: green;
  color: white;
}
.Type_Detail{
  display: inline;
  width: 100px;
  background-color: #e8e8e8;
  padding: 1%;
  border-radius: 10px;
}
.Type_Detail_1{
  margin: 10px;
  background-color: #e8e8e8;
  display: inline;
  padding: 1%;
  border-radius: 10px;
}

/*Comment section*/
.Comment{
  width: 100%;
  border-spacing: 60px 2px;;
}
.Comment-box1{
  width: 100%;
  background-color: white;
  border-width: 2px 2px 0px 2px;
  border-color: gray;
  border-style: solid;
}

.Comment-box2{
  padding: 2%;
  width: 100%;
  background-color: white;
  border-width: 0px 2px 2px 2px;
  border-color: gray;
  border-style: solid;
}
.Comment_icon{
  width: 10%;
  text-align: center;
  vertical-align: middle;
}
.fa-user-circle{
  font-size: 80px;
}
.Comment_name{
  color: #037ef3;
}
.Comment_title_des{
  color: gray;
}
/*Review Section*/
.Review{
  width: 100%;
  border-spacing:60px 0px;
}
.Review_title{
  width: 185px;
  background-color: #e8e8e8;
  position: relative;
  top: 10px;
  left: 3%;
}
.text_input{
  border: 3px solid black;
  width: 100%;
  height: 300px;
  background-color: #e8e8e8;
}
.Submit_buttom{
  position: relative;
  left: 87%;
}
